.phone .art .woo{
    width: 92%;
    height: 189px;
    margin-top: 27px;
    border-radius: 15px;
}
.rr{
    color: rgba(0, 0, 0, 0.482);
    margin-left: 57px;

}
.weh{
    border-radius: 26px;
}
.wq{
    margin-top: -8px;
}
.for{
    display: none;
}
