
.hea{
    display: flex;
    justify-content: space-between;
}
.fre{
    width: 21%;
    height: 104px;
    margin-top: -21px;
}
.wq{
    display: flex;
}
.boos{
    margin-right: 25px;
    list-style-type: none;
}
/*.weh{
    margin-left: 17px;
    width: 98%;
    margin-top: 30px;
    object-fit: cover;
    height: 500px;
}*/
.phone{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}
.art{
    width: 19%;
}
 .phone .art .woo{
    width: 86%;
    height: 189px;
}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 767.98px) {
    /*    */

.phone{
    width: 352%;
    margin-left: 229px;
    object-fit: cover;
}
.saad {
    display: flex;
    justify-content: space-between;
    width: 86%;
    margin-top: 11px;
}   
}