.joan{
    width: 90%;
    margin-top: 16px;
    margin-left: 85px;
    border-radius: 20px;
    height: 322px;
    object-fit: inherit;
}
.allan{
    margin-left: 117px;
}
.wpp{
    border-radius: 19px;
    margin-left: 33px;
    height: 170px;
    width: 17%;
}